<div class="container-fluid">
  <h1 class="h1 dark-carrot text-center display-1 tw-py-8">
    Nákup
  </h1>
</div>

<div class="tw-bg-gray-200 tw-px-2 tw-py-8">
  <div class="tw-container tw-mx-auto">
    <p class="text-center tw-py-8">
      TODO: text o nákupe...
    </p>
  </div>
</div>

<div id="ownerships-wrapper">
  <%= render "users/ownerships/user_ownerships", ownerships: @ownerships %>
</div>

