<div class="text-center py-2">
  <button class="btn btn-sm dark-carrot btn-outline-dark" data-toggle="modal" data-target="#add-onetime-raw-modal">
    <%= image_tag "add.png", width: 15, height: 15, class: "tw-inline-block" %>
    <span class="px-1">Pridať svoje</span>
  </button>
</div>
