<div class="container-fluid">
  <h1 class="h1 dark-carrot text-center display-1 tw-py-8">
    Špajza
  </h1>
</div>

<div id="loader" class="bg-light-carrot"></div>
<p id="page-description" class="tw-bg-gray-200 tw-px-2 py-5 text-center">
  Táto stránka zobrazuje všetky potraviny použité na prípravu jedál na tomto webe.
  Zaškrtnuté potraviny máš doma, nezaškrtnuté doma nemáš. Podľa stavu potravín
  na tejto stránke ti vieme
  <%= link_to "zobraziť jedlá", foods_path(filter: { available: true }), class: "tw-underline runs-spinner" %>,
  ktoré si môžeš pripraviť z potravín,
  ktoré máš teraz doma.
</p>

<div id="ownerships-wrapper">
  <%= render "raws/user_ownerships", ownerships: @ownerships, raws: @raws %>
</div>
