<div class="container-fluid">
  <h1 class="h1 tw-text-red-500 text-center display-3 tw-py-8">
    Zoznam surovín
  </h1>

  <div class="row">
    <% @raws.group_by { |r| r.raw_category&.name }.each do |category, raws| %>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <h2 class="tw-text-xl tw-text-center tw-font-bold tw-pt-6">
          <%= category || "Všeobecné" %>
        </h2>
        <ul>
          <% raws.each do |raw| %>
            <li class="tw-text-center tw-leading-6">
              <%= link_to raw.name, edit_administration_raw_path(raw), class: "tw-underline" %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

</div>
