<div class="container-fluid">
  <h1 class="h1 dark-carrot text-center display-1 tw-py-8">
    Nový návrh
  </h1>
</div>

<p id="page-description" class="tw-bg-gray-200 tw-px-2 py-5 text-center">
  Na tejto stránke môžeš pridať návrh na nejaké jedlo, alebo drink, ktoré/ý by si tu chcel/a mať. Môžeš sa
  rozhodnúť aj pre možnosť "iba pre mňa", ak ho nepovažuješ za zaujímavý pre všetkých ostatných.
  Čiže napríklad keď chceš nejaký svoj súkromný recept, sám/sama pre seba.
</p>

<div class="container-fluid">
  <%= render "users/proposals/form" %>
</div>
