<div class="container-fluid">
  <h1 class="h1 dark-carrot text-center display-1 tw-py-8">
    Špajza
  </h1>
</div>

<div class="tw-bg-gray-200 tw-px-2 tw-py-8">
  <div class="tw-container tw-mx-auto">
    <p class="text-center tw-py-8">
      Táto stránka zobrazuje všetky potraviny použité na prípravu jedál na tomto webe.
      Zaškrtnuté potraviny máš doma, nezaškrtnuté doma nemáš. Podľa stavu potravín
      na tejto stránke ti vieme
      <u>
        <%= link_to "zobraziť jedlá", users_foods_path(filter: { available: true }) %>
      </u>
      , ktoré si môžeš pripraviť z potravín,
      ktoré máš teraz doma.
    </p>
  </div>
</div>

<div id="ownerships-wrapper">
  <%= render "users/raws/user_ownerships", ownerships: @ownerships, raws: @raws %>
</div>

