<footer class="bg-dark-carrot tw-text-white tw-text-sm py-5">
  <div class="row text-center tw-items-center">
    <div class="col-md-6 py-3 px-5">
      <%= image_tag "me.png",
                    alt: "Author face",
                    size: "46x46",
                    class: "tw-rounded-full h-center pb-1" %>

      <p>Tomáš Radič</p>
      <p><%= mail_to "tomas.radic@gmail.com" %></p>
      <p><%= link_to "Github", "https://github.com/tomas-radic" %></p>
      <p>Autor projektu</p>

    </div>

    <div class="col-md-6 py-3 px-5">
      <p class="text-justify">Tento projekt vznikol pôvodne pre moje osobné potreby lepšieho zvládania bežného domáceho stravovania a jednoduchšej prípravy jedál. Hlavná stránka zobrazuje zoznam rôznych jedál, ktoré je možné jedným tlačítkom odfiltrovať tak, aby sa zobrazovali iba tie jedlá, ktoré je možné pripraviť zo surovín, ktoré sú doma. Zoznam týchto surovín sa dá jednoducho upraviť na stránke "Špajza", alebo aj na stránke nejakého konkrétneho jedla. Zároveň je možné chýbajúce suroviny na prípravu vybraného jedla jednoducho presunúť na nákupný zoznam, ktorý je potom dostupný na stránke "Nákup".</p>
    </div>
  </div>


</footer>