<nav class="navbar bg-light-carrot">
  <a class="navbar-brand" href="#">
    <%= image_tag "logo.png", width: 30, height: 30, class: "d-inline-block align-top" %>
<!--    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
    <span class="pl-2">digitalKITCHEN</span>
  </a>
</nav>


<!--<nav class="flex items-center justify-between flex-wrap bg-carrot p-6">-->
<!--  <div class="flex items-center flex-shrink-0 text-xl text-orange-900 mr-6">-->
<!--    <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>-->

<!--    <span class="fill-current h-8 w-8 mr-2" width="54" height="54"><%#= image_tag "logo.png" %></span>-->
    <%#= link_to "digitalKITCHEN", '#', class: "font-semibold text-xl tracking-tight" %>
<!--  </div>-->
<!--  <div class="block lg:hidden" id="menu-button">-->
<!--    <button class="flex items-center px-3 py-2 border rounded text-orange-900 border-orange-900 hover:text-white hover:border-white" onclick="navToggle();">-->
<!--      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="hidden lg:visible w-full block flex-grow lg:flex lg:items-center lg:w-auto" id="menu">-->
<!--    <div class="text-lg text-yellow-800 lg:flex-grow">-->
<!--      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">-->
<!--        Docs-->
<!--      </a>-->
<!--      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">-->
<!--        Examples-->
<!--      </a>-->
<!--      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white">-->
<!--        Blog-->
<!--      </a>-->
<!--    </div>-->
<!--    <div>-->
<!--      <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
