<div class="container-fluid">
  <h1 class="h1 dark-carrot text-center display-1 tw-py-8">
    Nákup
  </h1>
</div>

<p id="page-description" class="tw-bg-gray-200 tw-px-2 py-5 text-center">
  Táto stránka zobrazuje potraviny, ktoré si si sem niekedy predtým pridal/a
  a momentálne ich doma nemáš.
</p>

<%= render "raws/add_raw_button" %>

<div class="container-fluid tw-py-2">
  <div id="ownerships-wrapper">
    <%= render "ownerships/user_ownerships", ownerships: @ownerships %>
  </div>
</div>

<%= render "raws/onetime_raw_modal", submit_path: create_user_raw_ownerships_path %>
