<p class="text-center tw-text-sm text-nowrap dark-carrot pt-4">
  <i class="px-2">
    <%= food.owner.name.downcase %>
  </i>
  -
  <i class="px-2">
    <%= link_to_foods label: food.food_category.name.downcase, list: food.category_id %>
  </i>
</p>
