
// You can add your own custom components/styles here

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
$font-family-base: 'Montserrat', sans-serif;
@import "~bootstrap";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "colors";


.cover-food {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  height: 600px;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
  }
}
