
// You can add your own custom components/styles here

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
$font-family-base: 'Montserrat', sans-serif;
@import "~bootstrap";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "colors";
@import "iosCheckbox";


.cover-food {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  height: 600px;
}

.display-1 {
  font-size: 3rem;
}
@include media-breakpoint-up(md) {
  .display-1 {
    font-size: 6rem;
  }
}

a {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.center-form {
  .form-group {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@include media-breakpoint-up(sm) {
  .center-form {
    width: 300px;
    margin: 0 auto;
  }
}

@keyframes loading {
  from {
    background-color: rgba(237, 242, 247, var(--bg-opacity));
  }

  to {
    background-color: white;
  }
}

.loading-now {
  animation-duration: 1200ms;
  animation-name: loading;
  animation-iteration-count: 30;
  animation-direction: alternate;
}
