<div class="md:tw-flex">
  <label class="tw-block tw-text-yellow-800">
    <%= check_box_tag :raw, '1', @user_raw_ids.include?(raw.id),
                      class: "user-raw tw-mr-2 tw-leading-tight",
                      data: { id: raw.id } %>
    <span class="tw-text-sm">
              <%= raw.name %>
            </span>
  </label>
</div>
