<div class="col-lg-6">
  <div class="md:tw-flex">
    <div class="md:tw-flex-shrink-0">
      <img class="tw-rounded-lg md:tw-w-56" src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" width="448" height="299" alt="">
    </div>
    <div class="tw-mt-4 md:tw-mt-0 md:tw-ml-6">
      <div class="tw-uppercase tw-tracking-wide tw-text-sm tw-text-indigo-600 tw-font-bold"><%= record.category.name %></div>
      <%= link_to record.name, users_food_path(record), class: "tw-block tw-mt-1 tw-text-lg tw-leading-tight tw-font-extrabold tw-text-gray-900 hover:tw-underline" %>
      <p class="tw-mt-2 tw-text-gray-600">
        <%= food_about_text record %>
      </p>
    </div>
  </div>
</div>
